@page "/users/add"
@using ApiContracts
@using Services
@rendermode InteractiveServer
@inject IUserService UserService

<PageTitle>Add new User</PageTitle>

<h1>Add New User</h1>

<input @bind="createUserDto.UserName"/>
<input @bind="createUserDto.Password"/>
<button class="btn btn-primary" @onclick="AddUser">Add</button>
@code {
    private CreateUserDto createUserDto = new CreateUserDto { UserName = "", Password = "" };
    private int currentCount = 0;

    private async Task AddUser()
    {
        await UserService.AddUserAsync(createUserDto);
        createUserDto = new CreateUserDto { UserName = "", Password = "" };
    }

}
